.App {
  text-align: center;
}

.calculator {
  border: 0px solid #c6c6c6;
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 500px;
  max-width: 425px;
  max-height: 825px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-area {
  position: fixed;
  width: 100%;
  height: 40%;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: space-between;
}

.buttons {
  position: fixed;
  height: 60%;
  left: 0;
  top: 40%;
  display: flex;
  background-color: #fff;
  z-index: 100;
  padding: 0 0.25rem 0 0.25rem;
  flex-flow: row wrap;
  margin: 0;
}
